.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* style components */

/* buttons *


// The Button from the last section without the interpolations
const 
Button=styled.button` color: palevioletred;
font-size: 1em;
margin: 1em;
padding: 0.25em 1em;
border: 2px solid palevioletred;
border-radius: 3px;
`;




// This could be react-router's Link for example
const Link=( {
  className, children
})=>( <a className= {className}> {
  children}

</a>) 

const StyledLink=styled(Link)` 
color: palevioletred;
font-weight: bold;
`;

example
render( <div> 
<Link>Unstyled, boring Link
</Link>





// Create a Title component that'll render an <h1> tag with some styles
const Title = styled.h1` 
font-size: 1.5em;
text-align: center;
color: palevioletred;
`;
// Create a Wrapper component that'll render a <section> tag with some styles

const Wrapper=styled.section` 
padding: 4em;
background: papayawhip;
`;

// Use Title and Wrapper like any other React component – except they're styled!
render
( <Wrapper> 
<Title> Hello World, this is my first styled component! </Title>
</Wrapper>);