body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
min-height:100%;
background-size: cover;
background-image: linear-gradient(transparent 50%, white),url(https://i.imgur.com/79QGY25.jpg);
background-repeat: no-repeat;
z-index:-999;
}

html {
  min-height: 100%

}





